.user {
    padding: 10px;
}

.user a {
    color: chocolate;
    font-family: 'Times New Roman', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.user a.activeLink {
    color: blueviolet;
}

.user img {
    margin-top: 5px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}