.nav {
    grid-area: nav;
    background-color: burlywood;
    padding: 20px;
  }

  .item a {
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20pt;
  }

  .item a.activeLink {
    color: blueviolet;
  }