.dialog a {
    color: chocolate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.dialog a.activeLink {
    color: blueviolet;
}

.dialog img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}