.app-wrapper {
  margin: 0 auto;
  display: grid;

  grid-template-areas:
    "header header"
    "nav content";

  grid-template-rows: 60fr, 1fr;
  grid-template-columns: 3fr, 10fr;
}

.app-wrapper-content {
    grid-area: content;
    background-color: aqua;
}

.item {
        color: coral;
}

.app-wrapper-friends {
  background: khaki;
}